* {
  font-family: $main-font-stack;
}

.overlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.button {
  font-family: $main-font-stack;
  border: 1px solid $white-color;
  border-radius: 4px;
  background: none;
  font-size: 1.25rem;
  font-style: italic;
  padding: .7rem 2.5rem;
}

section h1.section-title {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

section.navigation nav.main-menu { 
  a.active {
    color: $yellow-color;
  }

  .top-bar-section a:hover {
    color: $yellow-color;
  }
}