section.header-with-image {
  position: relative;

  width: 100%;

  color: $white-color;

  background: url('../img/kids.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    background-color: rgba(18, 105, 138, .8);
    min-height: 40rem;
  }

  .motivation-to-join {
    margin-top: 5rem;

    .text {
      width: 100%;
      max-width: 35rem;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 3.125rem;
      margin-bottom: 4rem;
      line-height: 1.4;
    }
  }

  .main-menu {
    background-color: rgba(255, 255, 255, 0);
    padding-top: 1rem;
    padding-bottom: 4rem;

    a {
      font-family: $main-font-stack;
    }

    ul.right li {
      &, & a {
        background: rgba(255, 255, 255, 0);
      }

      & a {
        text-transform: uppercase;
        font-size: .875rem;
        font-weight: bold;
        border: none;
        border-radius: 2px;
        padding: 1rem 1rem;
        line-height: 1rem;
      }

      a.donate {
        @include donate-button;
      }
    }

    .title-area .name a {
      padding-left: 0;
    }
  }
}

section.ways-to-help {
  background: $yellow-color;

  .title-ways-to-help {
    font-size: 2rem;
    color: $white-color;
    text-transform: uppercase;
    font-weight: 800;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .item {
    padding: 3rem 15px 20px 44px;

    .number {
      float: left;
      width: 27%;
      font-size: 3rem;
      color: rgba(30, 65, 78, 0.15);
      font-weight: 300;
      line-height: 3rem;
    }

    .line {
      border-left: 1px solid rgba(30, 65, 78, 0.15);
      display: block;
      float: left;
      height: 80px;
      top: -14px;
      transform: rotate(17deg);
      -webkit-transform: rotate(17deg);
      -moz-transform: rotate(17deg);
      -o-transform: rotate(17deg);
      position: relative;
      margin: 0 1rem;
    }

    .text {
      font-size: 1.5rem;
      color: #1e414e;
      float: left;
      font-weight: bold;
      font-style: italic;
      width: 55%;
      line-height: 1.5rem;
    }
  }
}


section.about-us {
  padding-top: 5rem;
  padding-bottom: 5rem;

  .left-part {
    color: #1E414E;

    .title {
      text-transform: uppercase;
      font-size: 1.875rem;
      margin-bottom: 2.5rem;
    }

    .text {
      width: 85%;
      margin-bottom: 2rem;
    }

    .button {
      border-color: #1E414E;
      color: #1E414E;
    }
  }

  .right-part {
    
    .newsletter-signup {
      position: relative;
      background: url('../img/sign-up-background.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      .overlay {
        position: relative;
        background-color: rgba(18, 105, 138, .6);
        padding: 1.5rem 2.5rem;
      }

      .title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $white-color;
      }

      .email-input input, .subscribe-button input {
        height: 3rem;
      }

      .email-input input {
        border: none;
        border-radius: 2px;
        font-style: italic;
        font-size: 1rem;
        padding-left: 1.5rem;
      }

      .subscribe-button {
        padding-left: 0;
      }

      .subscribe-button input {
        width: 100%;
        color: $white-color;
        border: 1px solid $white-color;
        border-radius: 4px;
        background: none;
        font-size: 1rem;
        font-style: italic;
        padding: .7rem .5rem;
      }
    }

    .donate-button {
      margin-top: .8rem;
      width: 100%;
      background: $yellow-color;
      color: #1E414E;
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}


section.what-we-do {
  padding-bottom: 6rem;

  .item {
    background-color: #12698A;
    color: white;
    padding: 0;

    .header {
      text-transform: uppercase;
      text-align: center;
      padding: 2rem 1rem;
      font-size: .9rem;

      .yellow-color {
        color: $yellow-color;
      }
    }

    .image {
      position: relative;
      height: 120px;
      background: url('../img/medical-research.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      .overlay {
        background-color: rgba(30, 65, 78, .7);
      }
    }
  }
}


section.this-month-features {
  padding-bottom: 3rem;

  .section-title {
    margin-bottom: 4rem;
  }

  .item {
    position: relative;
    background: url('../img/this-month-feature-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    margin-bottom: 2rem;

    .overlay {
      background: rgba(18, 105, 138, .9);
      height: 10rem;
      padding: 1rem 1rem;
    }

    .name {
      font-size: 1rem;
      color: white;
      max-width: 70%;
      text-transform: uppercase;
    }

    .category {
      position: absolute;
      bottom: 1rem;
      font-size: 1rem;
      color: #FFC900;
      text-transform: uppercase;
    }
  }
}




section.our-mission {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #1e414e;
  background-color: $yellow-color;

  .section-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .text {
    width: 85%;
    margin-bottom: 1rem;
  }

  .read-more-button {
    margin-top: 1rem;
    border-color: #1e414e;
    color: #1e414e;
  }

  img {
    float: right;
  }
}


section.numbers-about-us {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .section-title {
    margin-bottom: 1rem;
  }

  .item {

    .number, .text {
      display: inline-block;
    }

    .number {
      font-size: 6.25rem;
      font-weight: bold;
      color: #12698A;
    }

    .text {
      font-size: 1.25rem;
      width: 6rem;
      margin-left: .5rem;
      text-align: left;
    }
  }
}


footer {
  position: relative;
  background: url('../img/footer-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .overlay {
    background: rgba(18, 105, 138, .95);
    min-height: 15rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .link-group {
    .link-group-title {
      color: rgba(255, 255, 255, .9);
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 1.5rem;
    }

    a.text-link {
      display: block;
      color: rgba(171, 191, 198, .9);
      text-transform: uppercase;
      font-size: .8rem;
      margin-bottom: 0.6rem;
    }

    a.svg-link {
      margin-right: .8rem;
    }
  }
}